#father{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mother{
    width: 250px;
    height: 250px;
    background-color:rosybrown;
    padding: 3px;
    margin: 5px 0;
    position: relative;
}
.img{
    width: 80%;
    height: 80%;
    padding: 20px;
    margin: 10px 0;
    position: inherit;
}
.close{
    width: 10%;
    height: 20%;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    position: absolute;
    right: -5px;
    top: -10px;
}